$fontColor: #3f3f3f;

.wrapper {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1506px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: 3px solid blue;
}

@media screen and (max-width: 599px) {
    .container {
        width: 100%;
        font-size: 1rem;
    }
    
    .menu__item {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 904px) {
    .container {
        width: 100%;
        
    }

}
@media (min-width: 905px) and (max-width: 1239px) {
    .container {
        width: 90%;
        
    }

}
@media screen and (min-width: 1440px) {
    .container {
        width: 1506px;
        
    }
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu {
    margin: 25px auto;
    padding-left: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.active {
    background-color: #3f3f3f;
    border-radius: 0 0 10% 10%;    
}

.active .menu__link {
    color: #ffffff;    
}

.menu__link {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    margin: 0 35px;
    transition: all 0.25s linear;
    line-height: 1;
}

.menu__item:hover .submenu {
    list-style: none;
    outline: 2px solid rgb(129, 92, 12);
    position: relative;
    display: block;
}

.active > .menu__link {
    text-transform: uppercase;
    color: #515151;
    background-color: #cccccc;
}

.submenu {
    list-style: none;
    position: absolute;
    display: none;
}

.header__logo {
   margin-top: 195px; 
}

.header__heading {
    margin-top: 80px;
    margin-bottom: 86px;
    font-size: 3.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.line__decor {
    width: 100%;
    height: 2px;
    background-color: #d2d2d2;
    margin-top: 78px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 181px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    outline: 3px solid red;    
}

.article__title {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 100px;
}

.title__primary {
    font-size: 1.9rem;
    color: $fontColor;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-left: 27px;

}

.title__secondary {
    font-size: 1.3rem;
    color: $fontColor;
    padding-right: 18px;
    // word-spacing: 2px;
}

.article__heading,
.article__heading-secondary {
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-shadow: white 2px 5px;
    color: $fontColor;
    font-weight: 500;   
}

.article__heading-secondary {
    padding-top: 29px;
}

.article__text {
    margin-top: 50px;
    margin-bottom: 50px;  
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2;
    color: $fontColor;
    text-shadow: white 5px 5px;
}

.images {
    padding-right: 30px;
    padding-bottom: 92px;
}

.button {
    padding-top: 88px;
}

.btn__wrap {
    width: 372px;
    height: 89px;
    background-color: #df6267;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    margin: 0 auto;
    max-width: 1500px;
    font-size: 1.2rem;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid lime;
    margin-bottom: 70px;
}

.footer__list {
    outline: 2px solid orange;
    margin-top: 90px;
    margin-bottom: 80px;
}

.link {
    padding-right: 53px;
    padding-left: 53px;
    text-decoration: none;
    color: blue;
}

