$fontColor: #3f3f3f;

.wrapper {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1506px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: 3px solid blue;
}

@media screen and (max-width: 599px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
    .menu__item {
        display: none;
    }

    .header__heading h1 {
        font-size: 2rem;
    }
}

@media (min-width: 600px) and (max-width: 904px) {
    .container {
        width: 100%;
        outline: 3px solid orange;
    }
    .menu__item {
        display: none;
    }
}

@media (min-width: 905px) and (max-width: 1239px) {
    .container {
        width: 90%;
    }
    .menu__btn {
        opacity: 0;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        width: 1506px;
    }
    .menu__btn {
        opacity: 0;
    }
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__menu {
    margin: 25px auto;
    padding-left: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.active {
    background-color: #3f3f3f;
    border-radius: 0 0 10% 10%;
}

.active .menu__link {
    color: #ffffff;
}

.menu__link {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    margin: 0 35px;
    transition: all 0.25s linear;
    line-height: 1;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__list {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__list:hover {
    background-color: #CFD8DC;
}


.header__logo {
    margin-top: 195px;
}

.header__heading {
    margin-top: 80px;
    margin-bottom: 86px;
    font-size: 3.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.line__decor {
    width: 100%;
    height: 2px;
    background-color: #d2d2d2;
    margin-top: 78px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 181px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    outline: 3px solid red;
}

.article__title {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 100px;
}

.title__primary {
    font-size: 1.9rem;
    color: $fontColor;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-left: 27px;

}

.title__secondary {
    font-size: 1.3rem;
    color: $fontColor;
    padding-right: 18px;
}

.article__heading,
.article__heading-secondary {
    font-size: 1.9rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-shadow: white 2px 5px;
    color: $fontColor;
    font-weight: 500;
}

.article__heading-secondary {
    padding-top: 29px;
}

.article__text {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2;
    color: $fontColor;
    text-shadow: white 5px 5px;
}

.images {
    padding-right: 30px;
    padding-bottom: 92px;
}

.button {
    padding-top: 88px;
}

.btn__wrap {
    width: 372px;
    height: 89px;
    background-color: #df6267;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    margin: 0 auto;
    max-width: 1500px;
    font-size: 1.2rem;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid lime;
    margin-bottom: 70px;
}

.footer__list {
    outline: 2px solid orange;
    margin-top: 90px;
    margin-bottom: 80px;
}

.link {
    padding-right: 53px;
    padding-left: 53px;
    text-decoration: none;
    color: blue;
}